/* src/styles/bootstrap-like.css */

.container6 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
  }
  
  .mt-56 {
    margin-top: 3rem !important;
  }
  
  .form-group6 {
    margin-bottom: 1rem;
    
  }
  
  .form-control6 {
    margin-left: 410px;
    display: block;
    width: 400px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .form-control6:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  .btn6 {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
     
    vertical-align: middle;
    cursor: pointer;
    background-color: white;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
}
  
  .btn6-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn6-primary:hover {
    color: #fff;
    background-color: #0056b3;
    border-color: #004085;
  }
  