.project1-des{
    text-align: right;
    font-size: 20px;
    margin-right: 20px;
    margin-top: 50px;
}
.techno{
    font-weight: bold;
    color: #9d69aa9f;
    text-align: right;
    margin-right: 20px;
}
.project1-title{
    
    font-weight: bold;
    margin-top: 100px;
    text-align: right;
    margin-right: 20px;
    font-size: 20px;
    color: white;
}